<link rel="stylesheet" type="text/css" href="styles/accountInfo.css">
<div id="accountInfoWrap">
    <div id="accountPictureWrap">
        <div id="accountPicture"></div>
    </div>
    <div id="accountUsername">GUEST</div>
    <div id="accountMenuOpenButtonWrap">
        <div id="accountMenuOpenButton"></div>
    </div>
    <div id="accountMenuWrap">
        <div class="cards" id="accountMenu">
            <div class="accountMenuOptions">PROFILE</div>
            <div class="accountMenuOptions" onclick="showLoginWindow()">LOGIN</div>
            <div class="accountMenuOptions">LOGOUT</div>
        </div>
    </div>
</div>
{{> login}}
<script src="javascripts/accountInfo.js"></script>
