<link rel="stylesheet" type="text/css" href="styles/accountInfo.css">
<div id="accountInfoWrap">
    <div id="accountPicture"></div>
    <div id="accountUsername"></div>
    <div id="accountMenuOpenButton"></div>
    <div id="accountMenu">
        <div class="accountMenuOptions">Profile</div>
        <div class="accountMenuOptions">Login</div>
        <div class="accountMenuOptions">Logout</div>
    </div>
</div>
<script src="javascripts/accountInfo.js"></script>
