<link rel="stylesheet" type="text/css" href="styles/accountInfo.css">
<div class="headerButtons" id="accountInfoWrap">
    <div id="accountPictureWrap">
        <div id="accountPicture"></div>
    </div>
    <div id="accountUsername"></div>
    <div id="accountMenuOpenButton"></div>
    <!--<div id="accountMenu">-->
        <!--<div class="accountMenuOptions">Profile</div>-->
        <!--<div class="accountMenuOptions">Login</div>-->
        <!--<div class="accountMenuOptions">Logout</div>-->
    <!--</div>-->
</div>
<script src="javascripts/accountInfo.js"></script>
