<link rel="stylesheet" type="text/css" href="styles/createQuiz.css">
<div id="createQuizOverlay">
    <div class="cards" id="createQuizWrap">
        <div class="createQuizFieldWrap" id="createQuizMessage">
            <p>Create a question!</p>
        </div>
        <div class="createQuizFieldWrap">
            <input class="cards createQuizInputText" type="text" id="quizNameInput" placeholder="Your quiz name goes here" />
        </div>
        <div class="createQuizFieldWrap">
            <input id="createQuizButton" class="cards buttons" type="button" onclick="createCustomQuiz()" value="CREATE" />
        </div>
    </div>
</div>
<script src="javascripts/createQuiz.js"></script>