<link rel="stylesheet" type="text/css" href="styles/createQuestion.css">
<div id="createQuestionOverlay">
    <div class="cards" id="createQuestionWrap">
        
    </div>
</div>
<script src="javascripts/createQuestion.js"></script>