<link rel="stylesheet" type="text/css" href="styles/createQuestion.css">
<div id="createQuestionOverlay">
    <div class="cards" id="createQuestionWrap">
        <div class="createQuestionFieldWrap" id="createQuestionMessage">
            <p>Create a question!</p>
        </div>
        <div class="createQuestionFieldWrap">
            <img src="/assets/images/icons/questionMark.png" class="createQuestionIcons" />
            <input class="cards createQuestionInputText" type="text" id="questionInput" placeholder="Your question goes here" />
        </div>
        <div class="createQuestionFieldWrap">
            <img src="/assets/images/icons/checked.svg" class="createQuestionIcons" />
            <input class="cards createQuestionInputText" type="text" id="correctAnswerInput" placeholder="The correct answer" />
        </div>
        <div class="createQuestionFieldWrap">
            <img src="/assets/images/icons/cross.svg" class="createQuestionIcons" />
            <input class="cards createQuestionInputText" type="text" id="wrongAnswerInput1" placeholder="Wrong answer" />
        </div>
        <div class="createQuestionFieldWrap">
            <img src="/assets/images/icons/cross.svg" class="createQuestionIcons" />
            <input class="cards createQuestionInputText" type="text" id="wrongAnswerInput2" placeholder="Wrong answer" />
        </div>
        <div class="createQuestionFieldWrap">
            <img src="/assets/images/icons/cross.svg" class="createQuestionIcons" />
            <input class="cards createQuestionInputText" type="text" id="wrongAnswerInput3" placeholder="Wrong answer" />
        </div>
        <div class="createQuestionFieldWrap">
            <input id="createButton" class="cards buttons" type="button" onclick="createQuestion()" value="CREATE" />
        </div>
    </div>
</div>
<script src="javascripts/createQuestion.js"></script>