<div class="cards" id="header">
    <a href="/"><div class="headerButtons"><p>HOME</p></div></a>
    <a href="/leaderboard"><div class="headerButtons"><p>LEADERBOARD</p></div></a>
    <a href="about"><div class="headerButtons"><p>ABOUT</p></div></a>
</div>
