<link rel="stylesheet" type="text/css" href="styles/notify.css">
<div id="wrap">
    <div  class="cards" id="notify">
        <p id="notify_title">Good Job! :)</p>
        <div id="tooltip"></div>
    </div>
</div>
