<link rel="stylesheet" type="text/css" href="styles/notify.css">
<div id="wrap">
    <div  class="cards" id="notify">
        <div id="tooltip"></div>
        <div id="notify_title">Welcome! :)</div>
    </div>
</div>
