<link rel="stylesheet" type="text/css" href="styles/popup.css">
<div class="cards" id="popupWrap">
    <div id="popupIconWrap">
        <div id="popupIcon"></div>
    </div>
    <div id="popupMessageWrap">
        <p id="popupMessageUsername">USERNAME</p>
        </br>
        <p id="popupMessageScore">SCORE:</p>
        </br>
        <p id="popupMessageStreak">HIGHEST STREAK:</p>
    </div>
    <div id="popupButtonsWrap">
        <div class="buttons popupButtons" id="popupButtonReview" onclick="window.location='/review'">SEE ANSWERS</div>
        <div class="buttons popupButtons" id="popupButtonReplay" onclick="window.location='/'">REPLAY</div>
        <div class="buttons popupButtons" id="popupButtonViewLeaderboard" onclick="window.location='/leaderboard'">LEADERBOARD</div>
    </div>
</div>
