<link rel="stylesheet" type="text/css" href="styles/profile.css">
<div id="profileWrap">
    <div id="profileColumnLeft">
        <div id="profilePictureWrap">
            <div class="round cards" id="profilePicture"></div>
        </div>
        <div id="profileDescriptionWrap">
            <p><b>Username: </b></p>
            <p><b>Highest score: </b></p>
            <p><b>Trivia played: </b></p>
            <p><b>Question created: </b></p>
            <p><b>Trivia created: </b></p>
        </div>
    </div>
    <div id="profileColumnRight">
        <div id="scoreHistoryWrap">
            <h1>Score History</h1>
            <div class="cards scoreHistoryCards">Time: 05/19/2018 15:42:00 | Score: 0 | Highest Streak: 0</div>
        </div>
        <div id="createdQuestionsWrap">
            <h1>Created Questions:</h1>
            <div class="round cards floatingButtons" id="createQuestionButton" onclick="showCreateQuestionWindow()"></div>
        </div>
    </div>
</div>
<script src="javascripts/profile.js"></script>