<link rel="stylesheet" type="text/css" href="styles/questionView.css">
<div class="cards" id="questionViewWrap">
    <div id="questionViewQuestionWrap">
        <h1 id="questionNumber"></h1>
        <h1 id="userInfo">USERNAME - SCORE</h1>
        <hr/>
        <p>This is a question</p>
    </div>
    <div id="questionViewAnswersWrap">
        <div class="questionViewAnswersWrapInner">
            <div class="answersWrap">
                <div class="cards buttons" id="answer1">Answer 1</div>
            </div>
            <div class="answersWrap">
                <div class="cards buttons" id="answer2">Answer 3</div>
            </div>
        </div>
        <div class="questionViewAnswersWrapInner">
            <div class="answersWrap">
                <div class="cards buttons" id="answer3">Answer 2</div>
            </div>
            <div class="answersWrap">
                <div class="cards buttons" id="answer4">Answer 4</div>
            </div>
        </div>
    </div>
    
</div>