<link rel="stylesheet" type="text/css" href="styles/questionView.css">
<div class="cards" id="questionViewWrap">
    <div id="questionViewQuestionWrap">
        {{> timer}}
        <h1 id="questionNumber">0</h1>
        <h1 id="userInfo">USERNAME - SCORE</h1>
        <hr/>
        <p id="questionContent">This is a question</p>
    </div>
    <div id="questionViewAnswersWrap">
        <div class="answersWrap">
            <div class="cards buttons" id="answer1" onclick="assessQuestionResult(1); clearInterval(timer); clearInterval(id); getNextQuestion();">Answer 1</div>
        </div>
        <div class="answersWrap">
            <div class="cards buttons" id="answer3" onclick="assessQuestionResult(3); clearInterval(timer); clearInterval(id); getNextQuestion();">Answer 3</div>
        </div>
        <div class="answersWrap">
            <div class="cards buttons" id="answer2" onclick="assessQuestionResult(2); clearInterval(timer); clearInterval(id); getNextQuestion();">Answer 2</div>
        </div>
        <div class="answersWrap">
            <div class="cards buttons" id="answer4" onclick="assessQuestionResult(4); clearInterval(timer); clearInterval(id); getNextQuestion();">Answer 4</div>
        </div>
    </div>
</div>
