<link rel="stylesheet" type="text/css" href="styles/timer.css">

<script src="javascripts/timer.js"></script>

<div class="clock">
    <div id="clockProgress">
        <div id="clockDisplay"></div>
        <div id="progressBar"></div>
    </div>
</div>