<!DOCTYPE html>
<html>
    <head>
        <title>Oops</title>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="styles/404.css">
    </head>
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
        </div>
        <div id="errorImageWrap">
            <img src="/assets/images/pictures/404.png" id="errorImage"/>
        </div>
    </body>
</html>