<html>
<head>
        <title>Fakoot</title>
        <link rel="stylesheet" type="text/css" href="styles/general.css">
        <link rel="stylesheet" type="text/css" href="styles/about.css">
        <link rel="stylesheet" type="text/css" href="styles/index.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
                <div id="greetBox">
                    <div id="greetBoxWelcomeText">
                    <p >Fake Kahoot</p>
                    <p>Is a quiz game with movies as the theme</p>
                    </div>
                </div>


        </div>


</html>