<html>
    <title>Fakoot - About</title>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="styles/about.css">
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
            <div class="cards" id="aboutScreenWrap">
                <div class="aboutScreenContentWrap">
                    <div class="aboutScreenContentPictureWrap">
                        <div style="background-image: url(assets/images/pictures/pedram.jpg)" class="aboutScreenContentPicture"></div>
                    </div>
                    <div class="aboutScreenContentTextWrap">
                        <h1>Pedram Nazari</h1>
                        <p>Hello, welcome to our website. It's awesome don't you think?</p>
                    </div>
                </div>
                <div class="aboutScreenContentWrap">
                    <div class="aboutScreenContentPictureWrap">
                        <div style="background-image: url(assets/images/pictures/ivan.jpg)" class="aboutScreenContentPicture"></div>
                    </div>
                    <div class="aboutScreenContentTextWrap">
                        <h1>Ivan Shalagin</h1>
                        <p>For this this project, I did user fetching the user and storing their information in a simple JSON file for it to be eventually displayed in the score board.
                            In my free time I like to play board games, videos games, drinking to drown out the pain, and hanging out with my friends.
                        </p>
                    </div>
                </div>
                <div class="aboutScreenContentWrap">
                    <div class="aboutScreenContentPictureWrap">
                        <div style="background-image: url(/assets/images/pictures/tim.jpg)" class="aboutScreenContentPicture"></div>
                    </div>
                    <div class="aboutScreenContentTextWrap">
                        <h1>Thanh Pham</h1>
                        <p>I did the fetching and validating questions.</p>
                    </div>
                </div>
            </div>
        </div>
</html>