<html>
    <title>Fakoot - About</title>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="styles/about.css">
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>





            <div id="aboutScreenWrap">
                <div class="aboutScreenSections">
                    <h1>About Fake Kahoot</h1>
                    <p class="generalDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim augue, lacinia quis nunc ut, suscipit dictum nunc. Mauris viverra rutrum orci. Praesent ut neque dignissim, mattis erat non, pulvinar odio. Praesent bibendum erat purus, ac euismod massa porttitor vel. Pellentesque quis lacus in ligula ultrices tincidunt. Maecenas et turpis pretium, malesuada lectus eget, sollicitudin ante. Pellentesque vitae massa lacinia, blandit erat sit amet, ultrices ante. Cras condimentum ante ut neque posuere iaculis. Phasellus placerat enim at pellentesque dapibus. Integer fermentum consequat erat quis fermentum. Aenean lacinia, est quis placerat ultricies, neque orci ultricies lorem, vel consequat ex lectus eu mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quis semper tellus, at efficitur dui.</p>
                    <p class="generalDescription">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam interdum efficitur risus, id varius orci fringilla a. Curabitur fermentum vel odio quis rhoncus. Quisque consectetur ex quis imperdiet volutpat. Nulla auctor molestie elit, sed tempus sapien cursus ac. Pellentesque sit amet ligula augue. Aenean lacinia lectus purus, nec finibus metus ornare sit amet. Nulla facilisi. Nam ut viverra neque, non pellentesque lorem. Nam vel lectus dictum, faucibus lorem at, tincidunt risus. Vestibulum neque ipsum, blandit ut dui sed, iaculis feugiat ante.</p>
                </div>
                <div class="aboutScreenSections">
                    <h1>Our Team</h1>
                    <div class="personnelWrap">
                        <div class="personnelDetailWrap">
                            <div class="personnelDetail">
                                <div class="personnelPictureWrap">
                                    <div  style="background-image: url(assets/images/pictures/pedram.jpg)" class="round cards personnelPicture"></div>
                                </div>
                                <div class="personnelDetailDivider">
                                    <hr/>
                                </div>
                                <div class="personnelDescriptionWrap">
                                    <p class="personnelDescriptionName">Pedram Nazari</p>
                                    <p class="personnelDescriptionRole">Hello, welcome to our website. It's awesome don't you think?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personnelWrap">
                        <div class="personnelDetailWrap">
                            <div class="personnelDetail">
                                <div class="personnelPictureWrap">
                                    <div style="background-image: url(/assets/images/pictures/tim.jpg)" class="round cards personnelPicture"></div>
                                </div>
                                <div class="personnelDetailDivider">
                                    <hr/>
                                </div>
                                <div class="personnelDescriptionWrap">
                                    <p class="personnelDescriptionName">Thanh Pham</p>
                                    <p class="personnelDescriptionRole">"CSS is fun"<br/>- Aldrich Huang</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personnelWrap">
                        <div class="personnelDetailWrap">
                            <div class="personnelDetail">
                                <div class="personnelPictureWrap">
                                    <div style="background-image: url(assets/images/pictures/ivan.jpg)" class="round cards personnelPicture"></div>
                                </div>
                                <div class="personnelDetailDivider">
                                    <hr/>
                                </div>
                                <div class="personnelDescriptionWrap">
                                    <p class="personnelDescriptionName">Ivan Shalagin</p>
                                    <p class="personnelDescriptionRole">In my free time I like to play board games, videos games, drinking to drown out the pain, and hanging out with my friends.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personnelWrap">
                        <div class="personnelDetailWrap">
                            <div class="personnelDetail">
                                <div class="personnelPictureWrap">
                                    <div style="background-image: url(/assets/images/pictures/dREKT.jpg)" class="round cards personnelPicture"></div>
                                </div>
                                <div class="personnelDetailDivider">
                                    <hr/>
                                </div>
                                <div class="personnelDescriptionWrap">
                                    <p class="personnelDescriptionName">Derek Wong</p>
                                    <p class="personnelDescriptionRole">Low T Soy Boy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personnelWrap">
                        <div class="personnelDetailWrap">
                            <div class="personnelDetail">
                                <div class="personnelPictureWrap">
                                    <div style="background-image: url(/assets/images/pictures/shanyu.jpg)" class="round cards personnelPicture"></div>
                                </div>
                                <div class="personnelDetailDivider">
                                    <hr/>
                                </div>
                                <div class="personnelDescriptionWrap">
                                    <p class="personnelDescriptionName">Shanyu Cui</p>
                                    <p class="personnelDescriptionRole">We got SQL injected</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personnelWrap">
                        <div class="personnelDetailWrap">
                            <div class="personnelDetail">
                                <div class="personnelPictureWrap">
                                    <div style="background-image: url(/assets/images/pictures/OwenGotYouFlowin.jpg)" class="round cards personnelPicture"></div>
                                </div>
                                <div  class="personnelDetailDivider">
                                    <hr/>
                                </div>
                                <div class="personnelDescriptionWrap">
                                    <p class="personnelDescriptionName">Owen Gan</p>
                                    <p class="personnelDescriptionRole">High T Onion Man with a razer blade</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personnelWrap">
                        <div class="personnelDetailWrap">
                            <div class="personnelDetail">
                                <div class="personnelPictureWrap">
                                    <div style="background-image: url(/assets/images/pictures/MaxPayne.png)" class="round cards personnelPicture"></div>
                                </div>
                                <div  class="personnelDetailDivider">
                                    <hr/>
                                </div>
                                <div class="personnelDescriptionWrap">
                                    <p class="personnelDescriptionName">Maksym Chumak</p>
                                    <p class="personnelDescriptionRole">Standing on the earth, are you closer to the sun at high noon at the time of new moon, or at high noon a half month later at the time of full moon?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!--<div class="aboutScreenContentWrap">-->
                    <!--<div class="aboutScreenContentPictureWrap">-->
                        <!--<div style="background-image: url(assets/images/pictures/pedram.jpg)" class="aboutScreenContentPicture"></div>-->
                    <!--</div>-->
                    <!--<div class="aboutScreenContentTextWrap">-->
                        <!--<h1>Pedram Nazari</h1>-->
                        <!--<p>Hello, welcome to our website. It's awesome don't you think?</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="aboutScreenContentWrap">-->
                    <!--<div class="aboutScreenContentPictureWrap">-->
                        <!--<div style="background-image: url(assets/images/pictures/ivan.jpg)" class="aboutScreenContentPicture"></div>-->
                    <!--</div>-->
                    <!--<div class="aboutScreenContentTextWrap">-->
                        <!--<h1>Ivan Shalagin</h1>-->
                        <!--<p>For this this project, I did user fetching the user and storing their information in a simple JSON file for it to be eventually displayed in the score board.-->
                            <!--In my free time I like to play board games, videos games, drinking to drown out the pain, and hanging out with my friends.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="aboutScreenContentWrap">-->
                    <!--<div class="aboutScreenContentPictureWrap">-->
                        <!--<div style="background-image: url(/assets/images/pictures/tim.jpg)" class="aboutScreenContentPicture"></div>-->
                    <!--</div>-->
                    <!--<div class="aboutScreenContentTextWrap">-->
                        <!--<h1>Thanh Pham</h1>-->
                        <!--<p>I did the fetching and validating questions.</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="aboutScreenContentWrap">-->
                    <!--<div class="aboutScreenContentPictureWrap">-->
                        <!--<div style="background-image: url(/assets/images/pictures/dREKT.jpg)" class="aboutScreenContentPicture"></div>-->
                    <!--</div>-->
                    <!--<div class="aboutScreenContentTextWrap">-->
                        <!--<h1>Derek Wong</h1>-->
                        <!--<p>Low T Soy Boy</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="aboutScreenContentWrap">-->
                    <!--<div class="aboutScreenContentPictureWrap">-->
                        <!--<div style="background-image: url(/assets/images/pictures/godAlmighty.jpg)" class="aboutScreenContentPicture"></div>-->
                    <!--</div>-->
                    <!--<div class="aboutScreenContentTextWrap">-->
                        <!--<h1>ShanYu Cui</h1>-->
                        <!--<p>They call me Shaun Yu AKA Aldrich v2.0 AKA godAlmighty()</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="aboutScreenContentWrap">-->
                    <!--<div class="aboutScreenContentPictureWrap">-->
                        <!--<div style="background-image: url(/assets/images/pictures/OwenGotYouFlowin.jpg)" class="aboutScreenContentPicture"></div>-->
                    <!--</div>-->
                    <!--<div class="aboutScreenContentTextWrap">-->
                        <!--<h1>Owen Gan</h1>-->
                        <!--<p>High T Onion Man with a razer blade</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="aboutScreenContentWrap">-->
                    <!--<div class="aboutScreenContentPictureWrap">-->
                        <!--<div style="background-image: url(/assets/images/pictures/MaxPayne.png)" class="aboutScreenContentPicture"></div>-->
                    <!--</div>-->
                    <!--<div class="aboutScreenContentTextWrap">-->
                        <!--<h1>Maksym Chumak</h1>-->
                        <!--<p>I'm right out of high school and stuntin' on em</p>-->
                    <!--</div>-->
                <!--</div>-->
                
            </div>
        </div>
</html>