{{!-- DEPRECATED --}}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./styles/general.css">
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
</head>
<body>
<div class="cards" id="header">
    <div class="headerButtons"><p>HOME</p></div>
    <div class="headerButtons"><p>LEADERBOARD</p></div>
    <div class="headerButtons"><p>ABOUT</p></div>
</div>
<div id="content">
    <div class="background" id="contentBackground"></div>
    <div class="cards" id="greetBox">
        <div id="greetBoxUsernameInputWrap">
            <input class="cards" id="greetBoxUsernameInput" placeholder="Enter a username" />
        </div>
        <div id="greetBoxStartButtonWrap">
            <div class="cards buttons" id="greetBoxStartButton">START</div>
        </div>
    </div>
</div>
<div id="footer">

</div>
</body>
</html>