<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot</title>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="styles/index.css">
    </head>
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
            <div id="greetBox">
                <!--<div id="greetBoxWelcomeText">-->
                    <!--<p>Welcome to Fakoot!</p>-->
                    <!--<p>Enter a username to begin</p>-->
                <!--</div>-->
                <div id="greetBoxUsernameInputWrap">
                    <input name="user_name" class="cards" id="greetBoxUsernameInput" placeholder="Enter a username" playWithoutLoggingIn="login(event);"/>
                    <select name="trivia_category" class="cards" id="trivia_category">
                        <option value="-1">Select Quiz Category</option>
                        <option value="0">Any Category</option>
                        <option value="9">General Knowledge</option>
                        <option value="10">Books</option>
                        <option value="11">Film</option>
                        <option value="12">Music</option>
                        <option value="13">Musicals &amp; Theatres</option>
                        <option value="14">Television</option>
                        <option value="15">Video Games</option>
                        <option value="16">Board Games</option>
                        <option value="17">Science &amp; Nature</option>
                        <option value="18">Science: Computers</option>
                        <option value="19">Science: Mathematics</option>
                        <option value="20">Mythology</option>
                        <option value="21">Sports</option>
                        <option value="22">Geography</option>
                        <option value="23">History</option>
                        <option value="24">Politics</option>
                        <option value="25">Art</option>
                        <option value="26">Celebrities</option>
                        <option value="27">Animals</option>
                        <option value="28">Vehicles</option>
                        <option value="29">Comics</option>
                        <option value="30">Science: Gadgets</option>
                        <option value="31">Japanese Anime &amp; Manga</option>
                        <option value="32">Cartoon &amp; Animations</option>
                    </select>
                    <select name="trivia_difficulty" class="cards" id="trivia_difficulty">
                        <option value="-1">Select Quiz Difficulty</option>
			            <option value="0">Any Difficulty</option>
			            <option value="easy">Easy</option>
			            <option value="medium">Medium</option>
			            <option value="hard">Hard</option>
		            </select>
                </div>
                <div id="greetBoxStartButtonWrap">
                    <div class="cards buttons greetBoxButtons" id="greetBoxPlayAsGuestButton" onclick="playAsGuest();" onkeypress="playAsGuest(event);">PLAY AS GUEST</div>
                    <div class="cards buttons greetBoxButtons" id="greetBoxPlayButton" onclick="play();">PLAY</div>
                </div>
            </div>
            {{> questionView}}
            {{> popup}}
            {{> notify}}
        </div>
        <script src="javascripts/index.js"></script>
    </body>
</html> 