<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot</title>
        <link rel="stylesheet" type="text/css" href="styles/general.css">
        <link rel="stylesheet" type="text/css" href="styles/index.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
            <div id="greetBox">
                <div id="greetBoxWelcomeText">
                    <p>Welcome to Fake Kahoot!</p>
                    <p>Enter a username and press 'START' to begin</p>
                </div>

                    <div id="greetBoxUsernameInputWrap">
                        <input name="user_name" class="cards" id="greetBoxUsernameInput" placeholder="Enter a username" />
                    </div>
                    <div id="greetBoxStartButtonWrap">
                        <div class="cards buttons" id="greetBoxStartButton" onclick="fetchQuestions();">BEGIN</div>
                    </div>
            </div>
        </div>
        <div id="footer">

        </div>
        {{> questionView}}
        {{> notify}}

        <script src="javascripts/index.js"></script>
    </body>
</html>