<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot</title>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="styles/index.css">
    </head>
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
            <div id="greetBox">
                <!--<div id="greetBoxWelcomeText">-->
                    <!--<p>Welcome to Fakoot!</p>-->
                    <!--<p>Enter a username to begin</p>-->
                <!--</div>-->
                <div id="greetBoxUsernameInputWrap">
                    <input name="user_name" class="cards" id="greetBoxUsernameInput" placeholder="Enter a username" onkeypress="login(event);"/>
                </div>
                <div id="greetBoxStartButtonWrap">
                    <div class="cards buttons greetBoxButtons" id="greetBoxStartButton" onclick="playWithoutLoggingIn();" onkeypress="playWithoutLoggingIn(event);">BEGIN</div>
                    <div class="cards buttons greetBoxButtons" id="greetBoxLoginButton" onclick="showLoginWindow();">LOGIN</div>
                </div>
            </div>
            {{> login}}
            {{> questionView}}
            {{> popup}}
            {{> notify}}
        </div>
        <script src="javascripts/index.js"></script>
    </body>
</html>