<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot - Leaderboard</title>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="styles/leaderboards.css">
    </head>
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
            <div class="cards" id="scoreDisplay">
                <div class="scoreDisplayRow scoreDisplayRowHeader">
                    <div id="userRank" class="leaderboardDisplayColumn">
                        <p class="displayInfo">RANK</p>
                    </div>
                    <div id="userName" class="leaderboardDisplayColumn">
                        <p class="displayInfo", id="scoreTextSort">NAME</p>
                    </div>

                    <div id="userStreak" class="leaderboardDisplayColumn">
                        <p class="displayInfo">STREAK</p>
                    </div>

                    <div id="userScore" class="leaderboardDisplayColumn">
                        <p class="displayInfo">SCORE</p>
                    </div>

                    <div id="userDate" class="leaderboardDisplayColumn">
                        <p class="displayInfo">DATE</p>
                    </div>
                </div>
                {{{list_of_user_data}}}
            </div>
        </div>
    </body>
</html>
