<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot</title>
        <link rel="stylesheet" type="text/css" href="styles/general.css">
        <link rel="stylesheet" type="text/css" href="styles/leaderboards.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <div class="cards" id="scoreCard">
            <div id="userName"></div>
            <div id="userScore"></div>
            <div id="userStreak"></div>
            <div id="userDate"></div>
        </div>
        
        <script src="javascripts/leaderboards.js"></script>
    </body>
</html>
