<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot</title>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="styles/leaderboards.css">
    </head>
    <body>
        {{> menu}}
        <div class="cards" id="scoreDisplay">
            <div id="userRank" class="leaderboardDisplayColumn">
                <p class="displayInfo">Rank</p>

            </div>
        
            <div id="userName" class="leaderboardDisplayColumn">
                <p class="displayInfo", id="scoreTextSort">Name</p>
            </div>

            <div id="userStreak" class="leaderboardDisplayColumn">
                <p class="displayInfo">Streak</p>
            </div>

            <div id="userScore" class="leaderboardDisplayColumn">
                <p class="displayInfo">Score</p>
            </div>

            <div id="userDate" class="leaderboardDisplayColumn">
                <p class="displayInfo">Date</p>
            </div>
            {{{list_of_user_data}}}
        </div>
        
        <script src="javascripts/leaderboards.js"></script>
    </body>
</html>
