<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot - Leaderboard</title>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="styles/leaderboards.css">
    </head>
    <body>
        <div id="leaderboardInputWrap">
            <select name="trivia_category" class="cards" id="ltrivia_category">
                <option value="0">Any Category</option>
                <option value="9">General Knowledge</option>
                <option value="10">Books</option>
                <option value="11">Film</option>
                <option value="12">Music</option>
                <option value="13">Musicals &amp; Theatres</option>
                <option value="14">Television</option>
                <option value="15">Video Games</option>
                <option value="16">Board Games</option>
                <option value="17">Science &amp; Nature</option>
                <option value="18">Science: Computers</option>
                <option value="19">Science: Mathematics</option>
                <option value="20">Mythology</option>
                <option value="21">Sports</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
                <option value="25">Art</option>
                <option value="26">Celebrities</option>
                <option value="27">Animals</option>
                <option value="28">Vehicles</option>
                <option value="29">Comics</option>
                <option value="30">Science: Gadgets</option>
                <option value="31">Japanese Anime &amp; Manga</option>
                <option value="32">Cartoon &amp; Animations</option>
            </select>
            <select name="trivia_difficulty" class="cards" id="ltrivia_difficulty">
			    <option value="0">Any Difficulty</option>
			    <option value="easy">Easy</option>
			    <option value="medium">Medium</option>
			    <option value="hard">Hard</option>
		    </select>
        </div>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
            <div class="cards" id="scoreDisplay">
                <div class="scoreDisplayRow scoreDisplayRowHeader">
                    <div id="userRank" class="leaderboardDisplayColumn">
                        <p class="displayInfo">RANK</p>
                    </div>
                    <div id="userName" class="leaderboardDisplayColumn">
                        <p class="displayInfo", id="scoreTextSort">NAME</p>
                    </div>

                    <div id="userStreak" class="leaderboardDisplayColumn">
                        <p class="displayInfo">STREAK</p>
                    </div>

                    <div id="userScore" class="leaderboardDisplayColumn">
                        <p class="displayInfo">SCORE</p>
                    </div>

                    <div id="userDate" class="leaderboardDisplayColumn">
                        <p class="displayInfo">DATE</p>
                    </div>
                </div>
                {{{list_of_user_data}}}
            </div>
        </div>
    </body>
</html>
