<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot - Profile</title>
        <link rel="stylesheet" type="text/css" href="./styles/general.css">
        <link rel="stylesheet" type="text/css" href="./styles/index.css">
        <link rel="stylesheet" type="text/css" href="./styles/profile.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {{> head}}
    </head>
    <body>
        {{> menu}}
        <div id="content">
            {{> createQuestion}}
            {{> profile}}
            <div class="background" id="contentBackground"></div>
        </div>
    </body>
</html>