<!DOCTYPE html>
<html>
<head>
    <title>Fakoot</title>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/signUp.css">
    <link rel="stylesheet" type="text/css" href="styles/general.css">
</head>
<body>
    {{> menu}}
    <div id="content">
            <div class="background" id="contentBackground"></div>
            <div id="greetBox">
                <div id="greetBoxWelcomeText">
                    <p>Welcome to Fake-Kahoot!</p>
                    <p>Create an account!</p>
                </div>
                <div id="signUpBoxUserInputWrap" >
                    <div id="userNameWrap" class="inputWraps">
                        <input name="USERNAME" class="cards" id="signUpBoxUsernameInput" placeholder="Enter username"/>
                        <img id="nameValidationIcon" class="validationIcons" src=""></img>
                    </div>
                    <div id="passwordWrap" class="inputWraps">
                        <input name="PASSWORD" class="cards" type="password" id="signUpBoxPasswordInput" placeholder="Enter password"/>
                        <img id="passwordValidationIcon" class="validationIcons" src=""></img>
                    </div>
                    <div id="cpasswordWrap" class="inputWraps">
                        <input name="CPASSWORD" class="cards" type="password" id="signUpBoxConfirmPasswordInput" placeholder="Confirm password"/>
                        <img id="cpasswordValidationIcon" class="validationIcons" src=""></img>
                    </div>
                </div>
                <div id="signUpBoxStartButtonWrap">
                    <div class="cards buttons" id="signUpBoxCreateButton">CREATE</div>
                    <div class="cards buttons" id="signUpBoxResetButton">RESET</div>
                </div>
            </div>
            <div id="hintWrap"></div>
    </div>
    <script src="javascripts/register.js"></script>
</body>
</html>