<!DOCTYPE html>
<html>
<head>
    <title>Fakoot</title>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
    <body>
        {{> menu}}
        <div>sign up page
        </div>
    </body>
</html>