<!DOCTYPE html>
<head>
    <title>Fakoot</title>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<html>
    <body>
        {{> menu}}
         <div>sign in page
        </div>
    </body>
</html>