#errorImageWrap {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 50vw;
    height: 50vh;
    margin: -25vh 0 0 -25vw;
}

#errorImage {
    position: relative;
    display: inline-block;
    top: 0;
    width: 100%;
    height: auto;
}