#aboutScreenWrap {
    position: absolute;
    top: 45vh;
    left: 50vw;
    width: 80vw;
    min-height: 80vh;
    margin: -40vh 0 0 -40vw;
    padding: 1vh;
    /*background-color: rgba(38, 50, 56, 1);*/
    color: var(--light-font-color);
    box-sizing: border-box;
    overflow: auto;
    transition: 300ms;
}

.aboutScreenSections {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

#aboutScreenWrap h1 {
    position: relative;
    width: 100%;
    margin: 0.75em 0;
    padding: 0 0 0.3em 0;
    border-bottom: 0.05em solid var(--light-font-color)
}

.generalDescription {
    padding: 0.5em 0 0 0;
    text-align: justify;
}

.personnelWrap {
    position: relative;
    box-sizing: border-box;
    width: calc(100%/3);
    margin: 1em 0;
    padding: 1em 1em 0 1em;
    float: left;
}

.personnelDetailWrap {
    position: relative;
    width: 100%;
    padding-top: 120%;
}

.personnelDetail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.personnelDetailDivider {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 1em 0;
    padding: 0 1em;
}

.personnelPictureWrap {
    position: relative;
    width: 100%;
    height: auto;
}

.personnelDescriptionWrap {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.personnelPicture {
    position: relative;
    width: 58%;
    left: 50%;
    margin: 0 0 0 -29%;
    padding-top: 58%;
    background-size: cover;
    box-shadow: inset 0 0 0 0.15em var(--light-font-color);
}

.personnelDescriptionName {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.personnelDescriptionRole {
    font-size: 1em;
    margin: 0;
    padding: 0.5em 1em 0 1em;
}


/* Deprecated */


/*.aboutScreenContentWrap {*/
    /*display: none;*/
    /*position: relative;*/
    /*!*display: inline-block;*!*/
    /*width: 100%;*/
    /*height: 30vh;*/
    /*padding: 1vh;*/
    /*box-sizing: border-box;*/
    /*border-bottom: solid 0.1em white;*/
/*}*/

/*.aboutScreenContentPictureWrap {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 29vh;*/
    /*height: 29vh;*/
    /*padding: 3vh;*/
    /*box-sizing: border-box;*/
/*}*/

/*.aboutScreenContentPicture {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
    /*background-size: cover;*/
    /*box-shadow: inset 0em 0em 0em 0.2em var(--light-font-color);*/
/*}*/

/*.aboutScreenContentTextWrap {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 30vh;*/
    /*width: 53vw;*/
    /*height: 28vh;*/
    /*padding: 1vh;*/
    /*box-sizing: border-box;*/
/*}*/
