/* Define variables: */

:root {
    --main-color: rgba(3,169,244, 1);
    --background-color: rgba(227,242,253, 1);

    --store-main-color: rgba(69, 90, 100, 1);
    --store-background-color: rgba(38, 50, 56, 1);
}

/* Miscs: */

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin: 0;
    padding: 0;
    cursor: default;
    transition: 0.3s;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.cards {
    border-radius: 2px;
    background-color: var(--background-color);
    box-shadow: 0.08em 0.08em 0.2em 0.05em rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.buttons {
    transition: 0.3s;
    box-shadow: 0.1em 0.1em 0.3em 0.01em rgba(0, 0, 0, 0.5);
}

.round {
    border-radius: 50%;
}

.buttons:hover {
    cursor: pointer;
    box-shadow: 0.15em 0.15em 0.7em 0.2em rgba(0, 0, 0, 0.5);
    /* box-shadow: 0.1em 0.1em 0.3em 0.01em rgba(0, 0, 0, 0.5), 0px 0px 0px 0.35em rgba(255, 255, 255, 0.7) inset; */
}

.buttonInfo {
    opacity: 0;
    display: inline-block;
    position: relative;
    height: 0%;
    width: 0%;
    left: 110%;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    z-index: 20;
    overflow: hidden;
}

.buttonInfo p {
    margin: 0;
    white-space: nowrap;
}

.buttons:hover .buttonInfo {
    height: 40px;
    width: auto;
    overflow: none;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 0.4em;
    background: rgba(69,90,100 ,1);
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(207,216,220 ,0.8);
}