/* Content */

#greetBox {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30vh;
    width: 30vw;
    margin: -10vh 0 0 -15vw;
    opacity: 1;
    transition: 300ms;
}

#greetBoxWelcomeText {
    position: absolute;
    top: -100%;
    left: calc(-50vw + 50%);
    height: 100%;
    width: 100vw;
    text-align: center;
    overflow: hidden;
}

#greetBoxWelcomeText p {
    margin: 0;
    padding-top: 0.3em;
    font-size: 3em;
    font-weight: 700;
    color: rgba(55, 71, 79, 1);
}

#greetBoxUsernameInputWrap {
    position: absolute;
    top: 0%;
    height: 25%;
    width: 100%;
}

#greetBoxUsernameInput {
    position: absolute;
    box-sizing: border-box;
    padding: 0 5%;
    left: 50%;
    height: 100%;
    width: 80%;
    margin: 0 0 0 -40%;
    border: none;
    font-size: 1.5em;
    text-align: center;
}

#greetBoxStartButtonWrap {
    position: absolute;
    top: 90%;
    height: 25%;
    text-align: center;
    width: 100%;
}

.greetBoxButtons {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 5%;
    height: 2em;
    width: fit-content;
    border: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    line-height: 2em;
    background-color: var(--background-color);
    color: var(--light-font-color);
}

.greetBoxButtons:hover {
    background-color: var(--background-lightup-color)
}

#trivia_category {
    position: absolute;
    box-sizing: border-box;
    padding: 0 5%;
    left: 50%;
    top: 120%;
    height: 100%;
    width: 80%;
    margin: 0 0 0 -40%;
    border: none;
    font-size: 1.5em;
    text-align: center;
}

#trivia_difficulty {
    position: absolute;
    box-sizing: border-box;
    padding: 0 5%;
    left: 50%;
    top: 240%;
    height: 100%;
    width: 80%;
    margin: 0 0 0 -40%;
    border: none;
    font-size: 1.5em;
    text-align: center;
}

#trivia_category option {
    font-size: 1em;
}

select {
    text-align: center;
    text-align-last: center;
  }