#scoreDisplay {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 80vw;
    height: 80vh;
    padding: 0;
    box-sizing: border-box;
    margin: -40vh 0 0 -40vw;
    background-color: rgba(38,50,56 ,1);
    color: var(--light-font-color);
    overflow: auto;
    /* background-color: rgba(224, 224, 224, 1); */
}

.leaderboardDisplayColumn {
    text-align: center;
    display: inline-block;
    width: 24.73%;
    box-sizing: border-box;
    border-bottom: solid 0.3em white;
}

#userName {
    /* background-color: aqua; */
}

#userScore {
    /* background-color: brown; */
}

#userStreak {
    /* background-color: blue; */
}

#userDate {
    /* background-color: chartreuse; */
}

.displayInfo {
    position: relative;
    padding: 0 1em;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    transition: 0.3s;
    font-size: 2em;
}

