#loginWrap {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 30vw;
    min-height: 30vh;
    top: -100%;
    left: 50%;
    padding: 1em;
    margin: -25vh 0 0 -15vw;
    font-size: 1.25em;
    background-color: var(--background-color);
    transition: 0.3s;
}

.loginFieldWrap {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    padding: 0.5em;
    margin: 0;
    text-align: center;
}

.loginInputText {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 0.5em;
    font-size: 1.15em;
    margin: 0;
    border: none;
    background-color: rgba(245,245,245 ,1);
    color: rgba(33,33,33 ,1);
}

.loginInputButtons {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    /*width: 30%;*/
    height: 100%;
    padding: 0 0.5em;
    margin: 0 0.5em;
    font-size: 1.15em;
    font-weight: 700;
    background-color: rgba(2, 119, 189, 1);
    color: var(--light-font-color);
    border: none;
}