#wrap {
    height: 20vh;
    width: 40vw;
    bottom:0;
    right:0;
    position: absolute;
    overflow: hidden;
    padding: 1vh;
    box-sizing: border-box;
    display: none;
}

#notify {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    text-align: center;
    transition: 300ms;
    background-color: var(--background-color);
}

#notify_title {
    position: absolute;
    height: 16vh;
    width: calc(40vw - 20vh);
    top: 50%;
    left: 17vh;
    margin: -8vh 0 0 0;
    text-align: center;
    line-height: 18vh;
    color: var(--light-font-color);
    font-size: 1.5em;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#tooltip {
    position: absolute;
    height: 16vh;
    width: 16vh;
    top: 50%;
    left: 1vh;
    margin: -8vh 0 0 0;
    padding: 1.5vh;
    box-sizing: border-box;    
}

#tooltopImage {
    width: 100%;
    height: 100%;
    background-size: cover;
}