#profileWrap {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 80vh;
    min-height: 80vh;
    margin: -40vh 0 0 -35vw;
    padding: 1em;
    background-color: rgba(38, 50, 56, 1);
    color: var(--light-font-color);
    transition: 300ms;
    z-index: 2;
    overflow: auto;
}

#profileColumnLeft {
    position: relative;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    padding: 0.5em;
    overflow: auto;
}

#profileColumnRight {
    position: relative;
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    padding: 0.5em;
    overflow: auto;
}

#profilePictureWrap {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 0.5em 0.5em 2em 0.5em;
    /*border-bottom: 0.01em solid var(--light-font-color);*/
}

#profileDescriptionWrap {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 0.5em 0.5em 0.5em;
    height: 50%;
}

#profilePicture {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    box-shadow: inset 0 0 0 0.15em var(--light-font-color);
    background-image: url('../assets/images/icons/default-profile-picture.svg');
}

#profileDescriptionWrap p {
    padding: 0.05em 0;
}

#scoreHistoryWrap {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 50%;
    padding: 0 1em 1em 1em;
    /*border-bottom: 0.05em solid var(--light-font-color)*/
}

#createdQuestionsWrap {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 50%;
    padding: 0 1em 1em 1em;
}

#scoreHistoryWrap h1, #createdQuestionsWrap h1 {
    position: relative;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.3em 0;
    border-bottom: 0.05em solid var(--light-font-color)
}

.scoreHistoryCards {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    color: var(--dark-font-color);
}

.floatingButtons {
    position: absolute;
    box-sizing: border-box;
    width: 3em;
    height: 3em;
}

#createQuestionButton {
    right: 1em;
    bottom: 1em;
    background-image: url(/assets/images/icons/light-bulb.svg);
}

#createQuestionButton:hover {
    cursor: pointer;
    background-image: url(/assets/images/icons/investment.svg);
}