#displaybox {
    position: absolute;
    box-sizing: border-box;
    left: 10%;
    right: 10%;
    top: 5%;
    width: 80vw;
    height: 75vh;
    margin: auto;
    padding: 0.75em 2.25em;
    background-color: rgba(38, 50, 56, 1);
    color: var(--light-font-color);
    transition: 300ms;
    overflow: auto;
}

.question {
    width: 100%;
    padding: 0;
    height: auto;
    margin: 0 0 0.5em 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 2em;
    overflow-y: auto;
}

.answer {
    width: 100%;
    margin: 0;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
    font-size: 1.25em;
    color: var(--light-font-color);
    background-color: rgba(67,160,71 ,1);
}

.line {
    margin: 1em 0 1em 0;
}

.reviewButtons {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 1em 1em;
    margin: 0 0.5em;
    height: 2em;
    width: 20%;
    border: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    line-height: 2em;
    background-color: var(--background-color);
    color: var(--light-font-color);
}