#signUpBoxUserInputWrap {
    position: absolute;
    top: -12%;
    height: 100%;
    width: 100%;
}

.inputWraps {
    position: relative;
    height: 35%;
    width: 130%;
    left: 12%;
}
#signUpBoxUsernameInput,  #signUpBoxPasswordInput, #signUpBoxConfirmPasswordInput{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 5%;
    height: 80%;
    width: 50%;
    margin: 4%;
    border: none;
    font-size: 1.5em;
    text-align: center;
}

#signUpBoxStartButtonWrap {
    position: absolute;
    top: 130%;
    height: 25%;
    text-align: center;
    width: 100%;
}

#signUpBoxCreateButton, #signUpBoxResetButton {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 5%;
    height: 2em;
    margin: 0 1em;
    width: 30%;
    border: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    line-height: 2em;
    background-color: var(--background-color);
    color: var(--light-font-color);
}

.validationIcons {
    top: 15%;
    position: relative;
    display: inline-block;
    height: 50%;
}

#hintWrap {
    position: absolute;
    width: 20%;
    background-color: var(--background-color);
    right:7%;
    top:45%;
    border-radius: 5px;
    display: none;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.2em;
    padding: 1.5%;
    color: white;
}