#signUpBoxUserInputWrap {
    position: absolute;
    top: -12%;
    height: 100%;
    width: 100%;
}

.inputWraps {
    position: relative;
    height: 35%;
    width: 130%;
    left: 10%;
}
#signUpBoxUsernameInput,  #signUpBoxPasswordInput, #signUpBoxConfirmPasswordInput{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 5%;
    height: 80%;
    width: 50%;
    margin: 4%;
    border: none;
    font-size: 1.5em;
    text-align: center;
}

#signUpBoxStartButtonWrap {
    position: absolute;
    top: 140%;
    height: 25%;
    text-align: center;
    width: 100%;
}

#signUpBoxCreateButton, #signUpBoxResetButton {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 5%;
    height: 2em;
    margin: 0 1em;
    width: fit-content;
    border: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    line-height: 2em;
    background-color: var(--background-color);
    color: var(--light-font-color);
}


.validationIcons {
    top: 15%;
    position: relative;
    display: inline-block;
    height: 50%;
}

