#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100vw;
    background-color: rgba(38, 50, 56, 1);
    color: rgba(236, 239, 241, 1);
    border-radius: 0;
    transition: 0.3s;
}

.headerButtons {
    position: relative;
    padding: 0 1em;
    display: inline-block;
    height: 100%;
    width: auto;
    transition: 0.3s;
}

.headerButtons:hover {
    background-color: rgba(144, 164, 174, 1);
    color: rgba(38, 50, 56, 1);
    cursor: pointer;
}

.headerButtons p {
    position: relative;
    top: -0.25em;
    height: 1em;
    font-size: 1em;
    font-weight: 700;
}

/* Content */
#content {
    position: absolute;
    top: 3em;
    height: calc(100vh - 3em);
    width: 100vw;
}

#contentBackground {
    background-image: url('../assets/images/backgrounds/background.png');
    background-size: cover;
}

#greetBox {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30vh;
    width: 30vw;
    margin: -10vh 0 0 -15vw;
    background-color: rgba(69, 90, 100, 1);
}

#greetBoxUsernameInputWrap {
    position: absolute;
    top: 20%;
    height: 25%;
    width: 100%;
}

#greetBoxUsernameInput {
    position: absolute;
    box-sizing: border-box;
    padding: 0 5%;
    left: 50%;
    height: 100%;
    width: 80%;
    margin: 0 0 0 -40%;
    border: none;
    font-size: 1.5em;
}

#greetBoxStartButtonWrap {
    position: absolute;
    top: 55%;
    height: 25%;
    width: 100%;
}

#greetBoxStartButton {
    position: absolute;
    box-sizing: border-box;
    padding: 1% 5%;
    left: 50%;
    height: 100%;
    width: 30%;
    margin: 0 0 0 -15%;
    border: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
}